@import "./body.css";
:root {
  font-size: 16px;
  --gris1: #b5b5b5;
  --gris2: #dcdcdc;
  --backgroundTextContent: linear-gradient(to bottom, #bc4e9c, #f80759);
  --backgroundBody: linear-gradient(to left, #000428, #004e92);
  --baseFontFamily: "Kalam", cursive, arial, Helvetica;
  --textFont: bold 60px/7.5rem var(--baseFontFamily);
}
