@import "./span.css";
.textContent {
  margin: auto;
  margin-block-start: 15.625rem;
  max-inline-size: 64rem;
  text-align: center;
  display: inline-block;
  transition: 0.5s;
}

.textContent:hover {
  transform: rotateX(35deg);
}
